<!-- student_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h2>Welcome, {{ student.full_name }}</h2>
    <p>Student ID: {{ student.national_code }}</p>
    <p>Father's Name: {{ student.fathers_name }}</p>
    <p>Birth Date: {{ student.birth_date }}</p>
    <p>Class: {{ student.clas }}</p>
    <p>Address: {{ student.address }}</p>
    <p>Phone: {{ student.phone_number }}</p>
</body>
</html>