<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>مشخصات {{ student.full_name }}</title>
</head>
<body>
    <h1>مشخصات دانش‌آموز: {{ student.full_name }}</h1>

    <ul>
        <li>نام پدر: {{ student.fathers_name }}</li>
        <li>کد ملی: {{ student.national_code }}</li>
        <li>شماره شناسنامه: {{ student.id_card_number }}</li>
        <li>تاریخ تولد: {{ student.birth_date }}</li>
        <li>محل تولد: {{ student.birth_place }}</li>
        <li>جنسیت: {{ student.get_sex_display }}</li>
        <li>کلاس: {% for c in student.classes.all %}
        {{ c.number }} - {{ c.subject }}
            {% endfor %}
        </li>
        <li>آدرس: {{ student.address }}</li>
        <li>شماره موبایل: {{ student.phone_number }}</li>
        <li>تلفن ثابت: {{ student.home_phone_number }}</li>
        <li>وضعیت انتقال: {{ student.transition }}</li>
        <li>توضیحات: {{ student.description }}</li>
    </ul>

    <p>
        <a href="{% url 'teacher panel' %}">بازگشت به پنل معلم</a>
    </p>
</body>
</html>