{# Profile/student_panel.html #}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>پنل دانش‌آموز</title>
</head>
<body>
    <h1>سلام {{ student.full_name }} 👋</h1>

    <h2>اطلاعات فردی</h2>
    <ul>
        <li>نام: {{ student.full_name }}</li>
        <li>نام پدر: {{ student.fathers_name }}</li>
        <li>کد ملی: {{ student.national_code }}</li>
        <li>شماره شناسنامه: {{ student.id_card_number }}</li>
        <li>تاریخ تولد: {{ student.birth_date }}</li>
        <li>محل تولد: {{ student.birth_place }}</li>
        <li>جنسیت: {{ student.get_sex_display }}</li>
        <li>کلاس: {{ student.clas }}</li>
        <li>آدرس: {{ student.address }}</li>
        <li>شماره موبایل: {{ student.phone_number }}</li>
        <li>تلفن منزل: {{ student.home_phone_number }}</li>
        <li>وضعیت: {{ student.transition }}</li>
        <li>توضیحات: {{ student.description }}</li>
    </ul>

    <p>
        <a href="{% url 'logout' %}">خروج از حساب</a>
    </p>

 <h3>گزارش عملکرد در آزمون</h3>

 {% if student_analyze %}
    <h4>{{ student_analyze.name }}</h4>

    {% if student_analyze.issues %}
        <ul>
            {% for issue in student_analyze.issues %}
                <li>
                    سوال شماره {{ issue.question_number }}<br>
                    جواب درست: {{ issue.correct_answer }}<br>
                    جواب شما: {{ issue.student_answer }}<br>
                    صفحه کتاب: {{ issue.book_reference.page }} -
                    بخش: {{ issue.book_reference.section }}<br>
                    یادداشت: {{ issue.book_reference.note }}<br>
                    مفاهیم: {{ issue.concepts|join:" ، " }}
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>تبریک 🎉 هیچ جواب اشتباهی برای شما ثبت نشده.</p>
    {% endif %}
{% else %}
    <p>برای شما هنوز گزارشی ثبت نشده است.</p>
{% endif %}
</body>
</html>