{% extends 'Profile/base.html' %}
{% load static %}
{% block extra_css %}
    <title>داشبورد مدیریت</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css'  %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block content %}
<body>

    <div class="main-content">
        <header class="top-header">
            <div>
                <h1 class="main-title">پنل شخصی</h1>
                <p class="date-display caption-text">امروز: یکشنبه، ۳۰ آذر ۱۴۰۴</p>
            </div>
            <div class="header-actions">
                <a href="{% url 'analysis:messenger' %}" class="icon-btn"><img src="{% static 'icon/اعلان.svg' %}" class="icon-template">

                </img></a>
                <a href="{% url 'analysis:settings' %}" class="icon-btn"><img src="{% static 'icon/تنظیمات.svg' %}" class="icon-template">

                </img></a>
            </div>
        </header>

        <div class="dashboard-layout">

            <main class="dashboard-main">
                <div class="kpi-grid">
                    <div class="kpi-card purple">
                        <div class="kpi-icon"><img src="{% static 'icon/کلاس های فعال.svg' %}" class="icon-template"></img></div>
                        <div class="kpi-info">
                            <h3>کلاس‌های فعال</h3>
                            <span>{{ teacher.number_of_classes }}</span>
                        </div>
                    </div>
                    <div class="kpi-card blue">
                        <div class="kpi-icon"><img src="{% static 'icon/دانش آموز.svg' %}" class="icon-template"></img></div>
                        <div class="kpi-info">
                            <h3>کل دانش‌آموزان</h3>
                            <span>{{ teacher.number_of_students }}</span>
                        </div>
                    </div>
                    <div class="kpi-card green">
                        <div class="kpi-icon"><img src="{% static 'icon/آزمون برگذار شده.svg' %}" class="icon-template"></img></div>
                        <div class="kpi-info">
                            <h3>آزمون‌های تعریف شده</h3>
                            <span>۶ آزمون</span>
                        </div>
                    </div>
                </div>

                <div class="section-box">
                    <div class="section-header">
                        <h3>دسترسی سریع</h3>
                    </div>
                    <div class="shortcuts-grid">
                        <a href="{% url 'bundle_create' %}" class="shortcut-card">
                            <img src="{% static 'icon/تحلیل ها.svg' %}" class="icon-template"></img>
                            <span>تحلیل هوشمند</span>
                        </a>
                        <a href="{% url 'exam_create' %}" class="shortcut-card">
                            <img src="{% static 'icon/آزمون های تعریف شده.svg' %}" class="icon-template"></img>
                            <span>طراحی آزمون شخصی سازی شده (AI)</span>
                        </a>
                        <a href="{% url 'exercise_generate:stage3_run' %}" class="shortcut-card">
                            <img src="{% static 'icon/طراحی تمرین با AI.svg' %}" class="icon-template"></img>
                            <span>ساخت تمرین شخصی سازی شده هوشمند برای دانش آموزان</span>
                        </a>
                    </div>
                </div>
            </main>

            <aside class="dashboard-side">

                <div class="profile-widget">

                    <div class="pw-header">
                        <div class="avatar-container">
                            <img src="assets/images/teachers/sina_beri.jpg"
                                 onerror="this.src='https://ui-avatars.com/api/?name=Mohammad+Sina+Beri&background=0ea5e9&color=fff'"
                                 class="pw-avatar" alt="محمد سینا بری">

                        </div>

                        <div class="pw-info">
                            <h4>{{ teacher.first_name }} {{ teacher.last_name }}</h4>
                            <span class="pw-role">معلم زبان انگلیسی</span>
                        </div>
                    </div>

                    <div class="current-school-box">

                    </div>
                    <div class="digital-id-card">
                        <div class="id-row">
                            <div class="id-icon bg-indigo"><img src="{% static 'icon/تحصیلات.svg' %}" class="icon-template"></img></div>
                            <div class="id-content">
                                <span class="id-label">تحصیلات</span>
                                <span class="id-value">کارشناس زبان انگلیسی</span>
                            </div>
                        </div>

                        <div class="dashed-line"></div>

                        <div class="id-row copy-row">
                            <div class="id-icon bg-blue"><img src="{% static 'icon/کد پرسنلی.svg' %}" class="icon-template"></img></div>
                            <div class="id-content">
                                <span class="id-label">کد پرسنلی</span>
                                <span class="id-value font-num">{{ teacher.personal_code }}</span>
                            </div>

                        </div>

                        <div class="id-row copy-row" >
                            <div class="id-icon bg-emerald"><img src="{% static 'icon/کدملی.svg' %}" class="icon-template"></img></div>
                            <div class="id-content">
                                <span class="id-label">کد ملی</span>
                                <span class="id-value font-num">{{ teacher.national_code }}</span>
                            </div>

                        </div>
                    </div>




                    <div class="divider"></div>

                    <div class="pw-stats">
                        <div class="pws-item">
                            <strong>{{ teacher.number_of_classes }}</strong>
                            <span>کلاس‌ها</span>
                        </div>
                        <div class="pws-item border-right">
                            <strong>{{ teacher.number_of_students }}</strong>
                            <span>دانش‌آموز</span>
                        </div>
                    </div>

                    <div class="pw-actions">
                        <a href="{% url 'analysis:weekly_plan' %}" class="pw-btn">
                            <div class="btn-icon"><img src="{% static 'icon/تقویم.svg' %}" class="icon-template"></img></div>
                            <div class="btn-text">
                                <span>برنامه هفتگی</span>
                            </div>
                            <img style="width: 22px" src="{% static 'icon/فلش به چپ.svg' %}" class="icon-template"></img>
                        </a>

                        <a href="{% url 'teacher_classes' %}" class="pw-btn">
                            <div class="btn-icon"><img src="{% static 'icon/دانش آموزان.svg' %}" class="icon-template"></img></div>
                            <div class="btn-text">
                                <span>لیست کلی دانش آموزان</span>
                            </div>
                             <img style="width: 22px" src="{% static 'icon/فلش به چپ.svg' %}" class="icon-template"></img>
                        </a>
                    </div>
                </div>
            </aside>

        </div>
    </div>

    <script>
        let dataDisplay=document.getElementsByClassName("date-display")[0]
        let date=new Date()
        dataDisplay.innerText=date.toLocaleDateString("fa-IR")
    </script>
</body>

{% endblock %}