# Django
DJANGO_SECRET_KEY=generate-a-unique-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

# OpenAI
OPENAI_API_KEY=your-openai-api-key
