{% extends 'Profile/base.html' %}
{% load static %}
{% block extra_css %}
 <title>ورود نمرات آزمون</title>
     <link rel="stylesheet" href="{% static 'css/exam-entry.css' %}"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block content %}

<body>

    <div class="main-content">
        <div id="matrix-area">
<div class="matrix-header-info"></div>
<div class="matrix-container">
    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="exam-table">
        <thead>
            <td><span>سوال</span></td>
            <td><span>آیا زیر سوال دارد؟</span></td>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
              <td>
                سوال {{ form.instance.number }}
                {{ form.id }}
              </td>
              <td>{{ form.has_subquestion }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center">

    <button class="btn-primary-full" style="width: 25% !important;margin: 1rem 0" type="submit" value="ثبت">ثبت</button>
    </div>

    </form>
</div>
<div id="quickMenu" class="quick-menu"></div>
        </div>
    </div>
{% block extra_js %}
    <script src="{% static 'js/layout.js' %}"></script>
    {% endblock %}
</body>
{% endblock %}


