<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table>
    <thead>
      <tr>
        <th>سوال</th>
        <th>زیرسوال دارد؟</th>
        <th>تعداد زیرسوال</th>
      </tr>
    </thead>
    <tbody>
      {% for form in formset %}
        <tr>
          <td>سوال {{ form.instance.number }}</td>
          <td>{{ form.has_subquestion }}</td>
          <td>{{ form.subquestion_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="submit">ذخیره</button>
</form>