{% extends 'Profile/base.html' %}
{% load static %}
{% block extra_css %}
    <title>برنامه هفتگی</title>
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block content %}
<body>

    <div class="main-content">
        <div class="page-header-simple" style="display: flex;align-items: center;" >
            <a href="dashboard.html" class="back-btn"><i class="fa-solid fa-arrow-right"></i></a>
            <h1 style="color: #fff !important;">برنامه هفتگی</h1>
        </div>

        <div id="schedule-container" class="schedule-wrapper"></div>

        <div style="height: 80px;"></div>
    </div>

    <div id="classSelectModal" class="modal-overlay">
        <div class="select-card">
            <h3>انتخاب کلاس</h3>
            <p>برای این زنگ چه کلاسی دارید؟</p>

            <div id="classes-list" class="class-options-list">
                </div>

            <button class="btn-cancel" onclick="closeModal()">انصراف</button>
        </div>
    </div>
</body>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/layout.js' %}"></script>
    <script type="module" src="{% static 'js/schedule.js' %}"></script>
{% endblock %}
